body {
  background-color: rgb(243, 241, 241);
}

.jumbotron {
  background-color: rgb(243, 241, 241);
}

.custom-nav {
  background-color: rgb(165, 27, 68) !important;
  padding: 20px;
}

.navbar-brand {
  font-size: 18px;
}

.nav-item .nav-link {
  font-size: 14px;
}

.table {
  font-size: 14px;
}

.table .btn {
  font-size: 12px;
}

.custom-btn {
  background-color: rgb(165, 27, 68);
  padding: 10px 30px;
  border-color: rgb(165, 27, 68);
  border-radius: 5px;
}

.custom-btn:hover,
.custom-btn:active {
  background-color: rgb(131, 23, 55) !important;
  border-color: rgb(131, 23, 55) !important;
}